src/*.exe
src/ankacoin
src/ankacoind
src/test_ankacoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ankacoin

# Compilation and Qt preprocessor part
*.qm
Makefile
ankacoin-qt
ANKACOIN-Qt.app

# Unit-tests
Makefile.test
ankacoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
